.footer {
    margin-top: 120px;
    min-height: 120px;
    background-color: var(--gray---8o);
    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
    }
}
@media (max-width: 992px) {
    .footer {
        margin-top: 60px;
    }

    .footer {
        margin-top: 60px;
        padding-bottom: 75px;
        min-height: 195px;
    }
}
@media (max-width: 992px) {
    .footer {
        padding-top: 24px;
    }
    .footer__wrapper {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer__text {
        text-align: center;
    }
}
