%title-font {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    color: var(--gray-10o);
    margin-bottom: 48px;
}
html,
body {
    height: 100%;
}

body {
    display: flex; //чтоб прилепить футер к низу, надо раскоментить хедер
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-family);

    overflow-x: hidden;
}
.main {
    flex-grow: 1;
}
// .container {
//     max-width: 1400px;
//     margin: 0 auto;
//     padding: 0 15px;
//     font-family: serif;
//     //hz nado li eto, no mne ponadobilos
//     height: 100%;
// }
.container {
    max-width: 1920px;
    // margin: 0 auto;
    padding: 0 130px;
    height: 100%;

    perspective: 800px;
}
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
