.main {
    &__wrapper {
        display: flex;
        gap: 20px;
    }

    &__menu {
        min-width: 260px;
    }
    &__menu-link {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.6);
    }
    &__menu-item {
        &--active {
            & > a {
                color: var(--gray---9o);
                padding-left: 50px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 38px;
                    height: 2px;
                    background-color: var(--gray---9o);
                    top: 50%;
                    left: 0;
                }
            }
        }
    }
    &__advantages {
        display: flex;
        gap: 48px;
        margin-bottom: 72px;
    }
    &__advantage {
        display: flex;
        align-items: center;
        gap: 16px;
        &:last-child > p {
            max-width: 200px;
        }
    }
    &__advantage-img {
        background: var(--primary-blue-04);
        padding: 14px 12px;
        border-radius: 50px;
    }
    &__advantage-text {
        max-width: 264px;
        font-weight: 300;
        font-size: 16px;
        line-height: 145%;
        color: var(--gray---8o);
    }
    &__request {
        width: 100%;
        height: 618px;
        background-image: url(../images/request-bg.jpg);
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    &__request-btn {
        background-color: var(--primary-blue-5o);
        border: 12px solid #fff;
        border-radius: 50%;

        width: 228px;
        height: 228px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-weight: 500;
        font-size: 24px;
        line-height: 125%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;

        position: absolute;
        right: 48px;
        top: -96px;
        &--red {
            background-color: var(--primary-pink-5o);
            top: auto;
            bottom: -42px;
            right: 112px;
            width: 244px !important;
            height: 244px !important;
        }
    }
    &__goods {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    &__goods-title {
        @extend %title-font;
    }
    &__goods-btns {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__goods-btn {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--gray---8o);
        border: 1px solid var(--gray---6o);
        border-radius: 50px;
        padding: 8px 16px;
        background: transparent;
        cursor: pointer;
        transition: all 0.6s ease-out;
    }
    &__goods-btn.active,
    &__goods-btn:hover {
        background: var(--gray---8o);
        color: #fff;
    }
    &__goods-cards {
        display: flex;
        gap: 40px 20px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__goods-card {
        flex-basis: 32.3%;
    }
    &__card-img {
        border-radius: 20px;
    }
    &__card-name {
        display: block;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: var(--gray-10o);
        margin-top: 24px;
    }
    &__card-price-before {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-decoration: line-through;
        color: var(--gray---4o);
        margin-top: 12px;
    }
    &__card-price {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: var(--gray-10o);
        margin-bottom: 12px;
    }
    &__card-btns {
        display: flex;
        gap: 12px;
        justify-content: space-between;
    }
    &__card-btn-order {
        text-align: center;
        flex-basis: 49%;
        background: var(--primary-blue-5o);
        border-radius: 8px;
        padding: 14px 24px 16px 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #fff;
    }
    &__card-btn-more {
        border: 1px solid var(--gray---3o);
        text-align: center;
        flex-basis: 49%;
        background-color: transparent;
        border-radius: 8px;
        padding: 14px 24px 16px 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: var(--gray---8o);
    }
    &__goods-more {
        width: 100%;
        padding: 24px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--gray---8o);
        text-align: center;
        background: var(--gray---04);
        border-radius: 8px;
        cursor: pointer;
        border: none;
    }
    &__send-request {
        border-radius: 20px;
        width: 100%;
        height: 383px;
        background-image: url(../images/aqua-request-bg.svg),
            url(../images/orange-request-bg.svg);
        background-repeat: no-repeat;
        background-position: bottom right, 76% 100%;
        // background-size: 500px 270px;

        background-color: #2a8ce3;
        padding: 60px;
        position: relative;
    }
    &__send-request-title {
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        color: #fff;
        margin-bottom: 16px;
    }
    &__send-request-text {
        max-width: 760px;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #fff;
    }
    &__about {
        margin-top: 120px;
    }
    &__about-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--gray---5o);
        margin-bottom: 12px;
    }
    &__about-choose {
        background-image: url(../images/about-bg.jpg);
        height: 906px;
        margin-top: 48px;
        margin-bottom: 24px;
        border-radius: 20px;
        position: relative;
        &:has(.main__about-link--1:hover) {
            background-image: url(../images/about-bg-1.jpg);
        }
        &:has(.main__about-link--2:hover) {
            background-image: url(../images/about-bg-2.jpg);
        }
        &:has(.main__about-link--4:hover) {
            background-image: url(../images/about-bg-4.jpg);
        }
        &:has(.main__about-link--5:hover) {
            background-image: url(../images/about-bg-5.jpg);
        }
        &:has(.main__about-link--6:hover) {
            background-image: url(../images/about-bg-6.jpg);
        }
        &:has(.main__about-link--7:hover) {
            background-image: url(../images/about-bg-7.jpg);
        }
        &:has(.main__about-link--8:hover) {
            background-image: url(../images/about-bg-8.jpg);
        }
        &:has(.main__about-link--9:hover) {
            background-image: url(../images/about-bg-9.jpg);
        }
        &:has(.main__about-link--10:hover) {
            background-image: url(../images/about-bg-10.jpg);
        }
        &:has(.main__about-link--11:hover) {
            background-image: url(../images/about-bg-11.jpg);
        }
        &:has(.main__about-link--12:hover) {
            background-image: url(../images/about-bg-12.jpg);
        }
        &:has(.main__about-link--13:hover) {
            background-image: url(../images/about-bg-13.jpg);
        }
    }
    &__about-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--gray-10o);

        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 6px;
        background: #fff;
        position: absolute;
        text-align: center;
        cursor: pointer;

        transition: all 0.5s ease;
        transition-delay: 3s;

        // &:hover .main__about-pop {
        //     display: block;
        // }

        &--1 {
            top: 46%;
            right: 30%;
        }
        &--2 {
            bottom: 30%;
            left: 50%;
        }
        &--4 {
            top: 25%;
            left: 37%;
        }
        &--5 {
            top: 28%;
            left: 56%;
        }
        &--6 {
            top: 31%;
            right: 19%;
        }
        &--7 {
            top: 19%;
            right: 18%;
        }
        &--8 {
            top: 11%;
            right: 17%;
        }
        &--9 {
            top: 18%;
            left: 46%;
        }
        &--10 {
            top: 15%;
            left: 32%;
        }
        &--11 {
            top: 11%;
            right: 38%;
        }
        &--12 {
            top: 11%;
            left: 49%;
        }
        &--13 {
            top: 9%;
            left: 37%;
        }
    }
    &__about-pop {
        z-index: 10;

        text-align: left;
        display: none;
        position: absolute;
        top: -70px;
        left: 0;
        background-color: #fff;
        padding: 8px 12px;
        border-radius: 4px;
        width: 104px;
        height: 56px;

        &::before {
            content: '';
            position: absolute;
            display: block;
            bottom: -5px;
            left: 8px;
            width: 10px;
            height: 10px;
            background-color: #fff;
            transform: rotate(45deg);
        }
    }
    &__about-pop-title {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--gray-10o);
        margin-bottom: 4px;
    }
    &__about-pop-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--primary-blue-5o);
    }
    &__rating {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
    &__rate {
        padding: 24px 28px;
        background: var(--gray---04);
        border-radius: 20px;
        flex-basis: 32.1%;
    }
    &__rate-title {
        font-weight: 900;
        font-size: 48px;
        line-height: 60px;
        text-transform: uppercase;
        color: var(--gray---8o);
    }
    &__rate-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--gray---6o);
    }
    &__rooms {
        margin-top: 120px;
        max-width: 100%;
    }
    &__rooms-slider {
        position: relative;
        min-height: 820px;
    }
    &__rooms-slide {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__rooms-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__rooms-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 125%;
        color: var(--gray-10o);
    }
    &__rooms-counter {
        font-weight: 500;
        font-size: 36px;
        line-height: 125%;
        color: var(--gray---6o);
    }
    &__rooms-counter-all {
        font-weight: 300;
        font-size: 24px;
    }
    &__rooms-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 145%;

        max-width: 1250px;

        color: var(--gray---8o);
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
    &__rooms-images {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    &__rooms-img {
        flex-basis: 50%;
        border-radius: 20px;
        height: 503px;
    }
}
.main-title {
    margin-top: -10px;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    text-transform: uppercase;
    color: var(--gray-10o);

    margin-bottom: 48px;
}
.show {
    display: block !important;
}
.main__goods-card {
    display: none;
}
.swiper {
    position: absolute;
    width: 1510px;
}
.swiper-slide {
    width: 90%;
    background: var(--gray---04);
    border-radius: 20px;
    padding: 40px;
    // width: 100%;
    // height: 806px;
}
