.main {
    &__wrapper {
        display: flex;
        gap: 20px;
    }

    &__menu {
        min-width: 260px;
    }

    // &__menu-list {
    //     position: fixed;
    // }

    &__menu-link {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.6);
    }
    &__menu-item {
        &--active {
            & > a {
                color: var(--gray---9o);
                padding-left: 50px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 38px;
                    height: 2px;
                    background-color: var(--gray---9o);
                    top: 50%;
                    left: 0;
                }
            }
        }
    }
    &__advantages {
        display: flex;
        gap: 48px;
        margin-bottom: 72px;
    }
    &__advantage {
        display: flex;
        align-items: center;
        gap: 16px;
        &:last-child > p {
            max-width: 200px;
        }
    }
    &__advantage-img {
        background: var(--primary-blue-04);
        padding: 14px 12px;
        border-radius: 50px;
    }
    &__advantage-text {
        max-width: 264px;
        font-weight: 300;
        font-size: 16px;
        line-height: 145%;
        color: var(--gray---8o);
    }
    &__request {
        width: 100%;
        height: 618px;
        background-image: url(../images/request-bg.jpg);
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    &__request-btn {
        background-color: var(--primary-blue-5o);
        border: 12px solid #fff;
        border-radius: 50%;

        width: 228px;
        height: 228px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-weight: 500;
        font-size: 24px;
        line-height: 125%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;

        position: absolute;
        right: 48px;
        top: -96px;
        &--red {
            background-color: var(--primary-pink-5o);
            top: auto;
            bottom: -42px;
            right: 112px;
            width: 244px !important;
            height: 244px !important;
        }
    }
    &__goods {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    &__goods-title {
        @extend %title-font;
    }
    &__goods-btns {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__goods-btn {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--gray---8o);
        border: 1px solid var(--gray---6o);
        border-radius: 50px;
        padding: 8px 16px;
        background: transparent;
        cursor: pointer;
        transition: all 0.6s ease-out;
    }
    &__goods-btn.active,
    &__goods-btn:hover {
        background: var(--gray---8o);
        color: #fff;
    }
    &__goods-cards {
        display: flex;
        gap: 40px 20px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__goods-card {
        flex-basis: 32.3%;
    }
    &__card-img {
        border-radius: 20px;
    }
    &__card-name {
        display: block;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: var(--gray-10o);
        margin-top: 24px;
    }
    &__card-price-before {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-decoration: line-through;
        color: var(--gray---4o);
        margin-top: 12px;
    }
    &__card-price {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: var(--gray-10o);
        margin-bottom: 12px;
    }
    &__card-btns {
        display: flex;
        gap: 12px;
        justify-content: space-between;
    }
    &__card-btn-order {
        text-align: center;
        flex-basis: 49%;
        background: var(--primary-blue-5o);
        border-radius: 8px;
        padding: 14px 24px 16px 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #fff;
    }
    &__card-btn-more {
        border: 1px solid var(--gray---3o);
        text-align: center;
        flex-basis: 49%;
        background-color: transparent;
        border-radius: 8px;
        padding: 14px 24px 16px 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: var(--gray---8o);
    }
    &__goods-more {
        width: 100%;
        padding: 24px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--gray---8o);
        text-align: center;
        background: var(--gray---04);
        border-radius: 8px;
        cursor: pointer;
        border: none;
    }
    &__send-request {
        // margin-top: 120px;

        border-radius: 20px;
        width: 100%;
        height: 383px;
        background-image: url(../images/aqua-request-bg.svg),
            url(../images/orange-request-bg.svg);
        background-repeat: no-repeat;
        background-position: bottom right, 76% 100%;
        // background-size: 500px 270px;

        background-color: #2a8ce3;
        padding: 60px;
        position: relative;
    }
    &__send-request-title {
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        color: #fff;
        margin-bottom: 16px;
    }
    &__send-request-text {
        max-width: 760px;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #fff;
    }
    &__about {
        margin-top: 120px;
    }
    &__about-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--gray---5o);
        margin-bottom: 12px;
    }
    &__about-choose {
        background-image: url(../images/about-bg.jpg);
        height: 906px;
        margin-top: 48px;
        margin-bottom: 24px;
        border-radius: 20px;
        position: relative;
        &:has(.main__about-link--1:hover) {
            background-image: url(../images/about-bg-1.jpg);
        }
        &:has(.main__about-link--2:hover) {
            background-image: url(../images/about-bg-2.jpg);
        }
        &:has(.main__about-link--4:hover) {
            background-image: url(../images/about-bg-4.jpg);
        }
        &:has(.main__about-link--5:hover) {
            background-image: url(../images/about-bg-5.jpg);
        }
        &:has(.main__about-link--6:hover) {
            background-image: url(../images/about-bg-6.jpg);
        }
        &:has(.main__about-link--7:hover) {
            background-image: url(../images/about-bg-7.jpg);
        }
        &:has(.main__about-link--8:hover) {
            background-image: url(../images/about-bg-8.jpg);
        }
        &:has(.main__about-link--9:hover) {
            background-image: url(../images/about-bg-9.jpg);
        }
        &:has(.main__about-link--10:hover) {
            background-image: url(../images/about-bg-10.jpg);
        }
        &:has(.main__about-link--11:hover) {
            background-image: url(../images/about-bg-11.jpg);
        }
        &:has(.main__about-link--12:hover) {
            background-image: url(../images/about-bg-12.jpg);
        }
        &:has(.main__about-link--13:hover) {
            background-image: url(../images/about-bg-13.jpg);
        }
    }
    &__about-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--gray-10o);

        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 6px;
        background: #fff;
        position: absolute;
        text-align: center;
        cursor: pointer;

        transition: all 0.5s ease;
        transition-delay: 3s;

        // &:hover .main__about-pop {
        //     display: block;
        // }

        &--1 {
            top: 46%;
            right: 30%;
        }
        &--2 {
            bottom: 30%;
            left: 50%;
        }
        &--4 {
            top: 25%;
            left: 37%;
        }
        &--5 {
            top: 28%;
            left: 56%;
        }
        &--6 {
            top: 31%;
            right: 19%;
        }
        &--7 {
            top: 19%;
            right: 18%;
        }
        &--8 {
            top: 11%;
            right: 17%;
        }
        &--9 {
            top: 18%;
            left: 46%;
        }
        &--10 {
            top: 15%;
            left: 32%;
        }
        &--11 {
            top: 11%;
            right: 38%;
        }
        &--12 {
            top: 11%;
            left: 49%;
        }
        &--13 {
            top: 9%;
            left: 37%;
        }
    }
    &__about-pop {
        z-index: 10;

        text-align: left;
        display: none;
        position: absolute;
        top: -70px;
        left: 0;
        background-color: #fff;
        padding: 8px 12px;
        border-radius: 4px;
        width: 104px;
        height: 56px;

        &::before {
            content: '';
            position: absolute;
            display: block;
            bottom: -5px;
            left: 8px;
            width: 10px;
            height: 10px;
            background-color: #fff;
            transform: rotate(45deg);
        }
    }
    &__about-pop-title {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--gray-10o);
        margin-bottom: 4px;
    }
    &__about-pop-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--primary-blue-5o);
    }
    &__rating {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
    &__rate {
        padding: 24px 28px;
        background: var(--gray---04);
        border-radius: 20px;
        flex-basis: 32.1%;
    }
    &__rate-title {
        font-weight: 900;
        font-size: 48px;
        line-height: 60px;
        text-transform: uppercase;
        color: var(--gray---8o);
    }
    &__rate-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--gray---6o);
    }
    &__rooms {
        margin-top: 120px;
        max-width: 100%;
    }
    &__rooms-slider {
        position: relative;
        min-height: 820px;
    }
    &__rooms-slide {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__rooms-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__rooms-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 125%;
        color: var(--gray-10o);
    }
    &__rooms-counter {
        font-weight: 500;
        font-size: 36px;
        line-height: 125%;
        color: var(--gray---6o);
    }
    &__rooms-counter-all {
        font-weight: 300;
        font-size: 24px;
    }
    &__rooms-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;

        max-width: 1250px;

        color: var(--gray---8o);
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
    &__rooms-images {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    &__rooms-img {
        flex-basis: 50%;
        border-radius: 20px;
        height: 503px;
    }
    &__contacts {
        margin-top: 120px;
    }

    &__contacts-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;

        margin-bottom: 24px;
    }
    &__contacts-information {
        flex-basis: 49%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__address {
        flex-basis: 60%;
    }
    &__contacts-info {
        flex-basis: 40%;
    }
    &__address,
    &__contacts-info,
    &__contacts-form {
        border-radius: 20px;
        padding: 40px;
        background: var(--gray---04);
    }
    &__contacts-form {
        flex-basis: 49%;
        padding: 40px 32px;
    }
    &__address-title {
        font-weight: 300;
        font-size: 16px;
        line-height: 145%;
        color: var(--gray---6o);
        margin-bottom: 8px;
    }
    &__address-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: var(--gray-10o);
        margin-bottom: 24px;
    }
    &__address-social {
        display: flex;
        gap: 12px;
        margin-top: 6px;
    }
    &__address-img {
        border-radius: 8px;
    }
    &__info-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: var(--gray-10o);
        margin-bottom: 8px;
    }
    &__info-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 145%;
        color: var(--gray---6o);
    }
    &__form-title {
        margin-bottom: 28px;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: var(--gray-10o);
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__form-input {
        border: 1px solid var(--gray---2o);
        border-radius: 8px;
        padding: 16px;

        &::placeholder {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: var(--gray---5o);
        }
    }
    &__form-files {
        display: flex;
        gap: 10px;
        flex-direction: row;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 70px;
            height: 70px;
            background-color: #fff;
            background-image: url(../images/src/icons/upload.svg);
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 8px;
            top: 0;
            left: 0;
        }
    }
    &__form-file {
        cursor: pointer;
        width: 70px;
        height: 70px;
        opacity: 0;
    }
    &__file-title {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: var(--gray---8o);
        margin-bottom: 4px;
    }
    &__file-text {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: var(--gray---5o);
    }
    &__form-txtarea {
        width: 100%;
        height: 86px;
        border: 1px solid var(--gray---2o);
        border-radius: 8px;
        padding: 16px;
        resize: none;
        // overflow-y: scroll;
        &::placeholder {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: var(--gray---5o);
        }
    }
    &__form-check {
        margin: 0;
    }
    &__form-label {
        display: flex;
        gap: 8px;
        // flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
    }
    &__form-label > span,
    &__form-label > span > a {
        font-weight: 300;
        font-size: 14px;
        line-height: 125%;
        color: var(--gray---8o);
    }
    &__form-label > span > a {
        color: var(--primary-blue-5o);
    }
    &__form-btn {
        border-radius: 8px;
        padding: 14px 24px 16px 24px;
        width: 100%;
        height: 50px;
        background: var(--primary-blue-5o);
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        border: none;
    }
    &__contacts-map > div {
        border-radius: 20px;
    }
}
.main-title {
    margin-top: -10px;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    text-transform: uppercase;
    color: var(--gray-10o);

    margin-bottom: 48px;
}
.show {
    display: block !important;
}
.main__goods-card {
    display: none;
}
.swiper {
    position: absolute;
    width: 1510px;
}
.swiper-slide {
    width: 90%;
    background: var(--gray---04);
    border-radius: 20px;
    padding: 40px;
    // width: 100%;
    // height: 806px;
}
.fixed-nav {
    top: 20px;
    position: sticky;
    animation-name: fadeInUp;
    animation-duration: 1s;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        top: -100px;
    }

    to {
        opacity: 1;
        top: 20px;
    }
}
.jw-modal {
    /* modals are hidden by default */
    display: none;

    /* modal container fixed across whole screen */
    position: fixed;
    inset: 0;

    /* z-index must be higher than everything else on the page */
    z-index: 10000;

    /* semi-transparent black background exposed by padding */
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;

    /* enables scrolling for tall modals */
    overflow: auto;
}

.jw-modal.open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jw-modal-body {
    padding: 48px;
    background: var(--primary-blue-5o);

    width: 1380px;
    height: 428px;
    border-radius: 20px;

    display: flex;
    gap: 92px;
}
.modal-info {
    flex-basis: 50%;
}
.modal-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #fff;
    margin-bottom: 20px;
}
.modal-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--gray---04);
}
.modal-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    flex-basis: 49%;
}
.modal__form-files {
    display: flex;
    gap: 10px;
    flex-direction: row;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 70px;
        height: 70px;
        backdrop-filter: blur(12px);
        background: rgba(244, 245, 246, 0.4);
        background-image: url(../images/src/icons/upload-white.svg);
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        top: 0;
        left: 0;
    }
}
.modal {
    &__file-text,
    &__file-title {
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #fff;
    }
    &__file-title {
        font-size: 14px;
        margin-bottom: 4px;
    }
    &__form-label {
        display: flex;
        gap: 8px;
        // flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
    }
    &__form-label > span,
    &__form-label > span > a {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
    }
    &__form-label > span > a {
        color: var(--primary-blue-2o);
    }
    &__form-btn {
        border-radius: 8px;
        padding: 14px 24px 16px 24px;
        width: 100%;
        height: 50px;
        background: var(--primary-orange-5o);
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        border: none;
    }
}
body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
.menu {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 20;
    bottom: 0;
    background: var(--primary-blue-5o);
    height: 75px;
    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        display: flex;
        gap: 8px;
        font-weight: 300;
        font-size: 16px;
        line-height: 145%;
        color: #fff;
    }
}
.partner-pop,
.callback-pop,
.request-pop {
    /* modals are hidden by default */
    display: none;

    /* modal container fixed across whole screen */
    position: fixed;
    inset: 0;

    /* z-index must be higher than everything else on the page */
    z-index: 10000;

    /* semi-transparent black background exposed by padding */
    background-color: rgba(0, 0, 0, 0.75);
    padding: 100px 130px;

    /* enables scrolling for tall modals */
    overflow: auto;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        & > .main__form-files::before {
            background-color: var(--gray---04);
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }
    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
        color: var(--gray-10o);
    }
    &__btn {
        height: 16px;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        & span {
            // width: 100%;
            height: 12px;
            // border-radius: 12px;
            // display: block;
            //
            // right: 0;
        }
        & span::before,
        & span::after {
            content: '';
            width: 16px;
            background-color: black;
            display: block;
            border-radius: 12px;
            height: 2px;
        }
        & span::before {
            transform: translateY(-10px);
            transform: rotate(45deg);
        }

        & span::after {
            transform: translateY(10px);
            transform: rotate(-45deg);
            margin-top: -2px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: var(--gray---5o);
        margin-bottom: 32px;
    }
}

.partner-pop.open,
.callback-pop.open,
.request-pop.open {
    // display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-pop-body,
.callback-pop-body,
.request-pop-body {
    padding: 24px;
    background: #fff;
    max-width: 460px;
    border-radius: 12px;
}
.main__request-btn-mobile {
    display: none;
}
.cookie {
    max-width: 360px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.75);
    &__wrapper {
        position: fixed;
        left: 0;
        bottom: 2%;
        z-index: 999999;
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 145%;
        color: var(--gray---8o);
        margin-bottom: 20px;
    }
    &__btn {
        font-weight: 400;
        font-size: 12px;
        line-height: 125%;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 8px 16px;
        background: var(--primary-blue-5o);
        cursor: pointer;
    }
}
.hidden {
    display: none;
}
@media (max-width: 992px) {
    .main__menu {
        display: none;
    }
    .main__content {
        width: 100%;
    }
    .main-title {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        color: var(--gray-10o);
        margin-bottom: 24px;
    }
    .main__advantages {
        flex-direction: column;
        gap: 12px;
        margin-bottom: 24px;
    }
    .main__advantage {
        gap: 12px;
    }
    .main__advantage-text,
    .main__advantage:last-child > p {
        max-width: 100%;
    }
    .main__advantage-img {
        padding: 8px 6px;
    }
    .main__request {
        border-radius: 10px;
        height: 322px;
    }
    .main__request-btn {
        font-size: 16px;
        line-height: 20px;
        border: 8px solid #fff;
        width: 153px;
        height: 153px;
        top: -80px;
    }
    .main__goods {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .main__goods-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
        color: var(--gray-10o);
        margin-bottom: 24px;
    }
    .main__goods-cards {
        justify-content: space-between;
    }
    .main__goods-card {
        flex-basis: 46.6%;
    }
    .main__send-request {
        height: 300px;
        padding: 38px;
        background-position: bottom right, 57% bottom;
        background-size: 145px 196px, 130px auto;
    }
    .main__send-request-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
        color: #fff;
    }
    .main__send-request-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #fff;

        max-width: 384px;
    }
    .main__request-btn--red {
        width: 184px !important;
        height: 184px !important;
        top: auto;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        right: 103px;
    }
    .main__about {
        margin-top: 60px;
    }
    .main__about-choose {
        margin-top: 24px;
        height: 476px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main__rating {
        gap: 3%;
        justify-content: space-between;
    }
    .main__rate {
        padding: 16px;
        flex-basis: 31%;
    }
    .main__rate-title {
        font-weight: 900;
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 12px;
    }
    .main__rate-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .main__rooms {
        margin-top: 60px;
    }
    .swiper {
        width: 854px;
    }
    .swiper-slide {
        width: 75%;
    }
    .main__rooms-slide {
        gap: 20px;
    }
    .main__rooms-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
        color: var(--gray-10o);
    }
    .main__rooms-counter {
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
    }
    .main__rooms-counter-all {
        font-weight: 300;
        font-size: 20px;
    }
    .main__rooms-img {
        height: 246px;
    }
    .main__rooms-slider {
        min-height: 603px;
    }
    .main__contacts {
        margin-top: 60px;
    }
    .main__contacts-wrapper {
        flex-wrap: wrap;
    }
    .main__contacts-information {
        flex-basis: 100%;
        flex-direction: row;
    }

    .main__contacts-form {
        flex-basis: 100%;
    }
    .main__address,
    .main__contacts-info {
        flex-basis: 50%;
        padding: 20px;
    }
    .menu {
        display: block;
    }
}

@media (max-width: 360px) {
    .main-title {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        color: var(--gray-10o);
        margin-bottom: 20px;
    }
    .main__advantages {
        gap: 8px;
        margin-bottom: 20px;
    }
    .main__advantage {
        align-items: start;
    }
    .main__advantage-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: var(--gray---8o);
    }
    .main__request-btn {
        display: none;
    }
    .main__request {
        height: 139px;
        border-radius: 5px;
    }
    .main__request-btn-mobile {
        display: block;
        border-radius: 8px;
        padding: 14px 24px 16px 24px;
        background: var(--primary-blue-5o);
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 20px;
    }
    .main__goods {
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .main__goods-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: var(--gray-10o);
    }
    .main__goods-btns {
        gap: 8px;
        margin-bottom: 20px;
    }
    .main__goods-btn {
        padding: 6px 10px;
        font-weight: 600;
        font-size: 8px;
        line-height: 12px;
        text-transform: uppercase;
    }
    .main__goods-cards {
        gap: 20px;
        margin-bottom: 20px;
    }
    .main__goods-card {
        flex-basis: 100%;
    }
    .main__card-btns {
        flex-wrap: wrap;
    }
    .main__card-btn-order,
    .main__card-btn-more {
        flex-basis: 100%;
    }
    .menu {
        max-width: 360px;
        height: 56px;
    }
    .menu__text {
        flex-wrap: wrap;
        font-weight: 300;
        font-size: 9px;
        line-height: 14px;
        text-align: center;
        color: #fff;
        align-items: center;
        justify-content: center;
        flex-basis: 100%;
        gap: 4px;
    }
    .menu__img {
        max-width: 15px;
    }
    .menu__wrapper {
        gap: 12px;
    }
    .main__send-request {
        width: 100vw;
        left: -24px;
        background-image: none;
        padding: 40px 24px;
        height: 270px;
    }
    .main__send-request-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
    }
    .main__send-request-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        margin-bottom: 30px;
    }
    .main__request-btn--red {
        display: block;
        border: none;
        border-radius: 8px;
        padding: 14px 24px 16px 24px;
        width: 100% !important;
        height: auto !important;
        right: auto;
        bottom: auto;
        position: relative;

        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #fff;
    }
    .main__about {
        margin-top: 48px;
    }
    .main__about-choose {
        width: 100vw;
        height: 240px;
        left: -24px;
    }
    .main__about-link {
        width: 20px;
        height: 20px;

        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        padding: 4px;
        text-align: center;
        color: var(--gray-10o);
    }
    .main__rating {
        flex-direction: column;
        gap: 24px;
    }
    .main__rooms {
        margin-top: 48px;
    }
    .main__rooms-slider {
        min-height: 850px;
    }
    .swiper {
        width: 336px;
    }
    .swiper-slide {
        padding: 20px;
    }
    .main__rooms-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: var(--gray-10o);
    }
    .main__rooms-counter {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: var(--gray---6o);
    }
    .main__rooms-counter-all {
        font-weight: 300;
        font-size: 14px;
    }
    .main__rooms-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: var(--gray---8o);
    }
    .main__rooms-images {
        flex-direction: column;
    }
    .main__rooms-img {
        height: 196px;
    }
    .main__contacts {
        margin-top: 48px;
    }
    .main__contacts-wrapper,
    .main__contacts-information {
        flex-direction: column;
    }
    .main__address,
    .main__contacts-info,
    .main__contacts-form {
        padding: 16px;
    }
    .main__address-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--gray-10o);
        margin-bottom: 12px;
    }
    .main__info-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--gray---6o);
    }
    .main__form-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: var(--gray-10o);
        margin-bottom: 28px;
    }
    .main__file-textbox {
        flex-basis: 70%;
    }
    .request-pop {
        padding: 48px 24px;
    }
}
